FLASK_APP=main.py
FLASK_ENV=development
FLASK_RUN_PORT=8080
# EVENTSTORE_URL=esdb://admin:changeit@node1.eventstore:2113,node2.eventstore:2113,node3.eventstore:2113?tls=true&tlsVerifyCert=false
EVENTSTORE_URL=esdb://admin:changeit@node1.eventstore:2111,node2.eventstore:2112,node3.eventstore:2113?tls=true&tlsVerifyCert=false
